/* Trang đọc */
.reader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
}


.reader-container img {
    max-width: 800px;
    width: 100%;
    border-radius: 15px; 
    box-shadow: var(--shadow);
    margin-bottom: 20px;
    border: 1px solid var(--glass-border);
}


.reader-nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}
/* button */
.reader-nav-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 15px 25px; /* Giảm padding một chút để gọn hơn khi ghim */
    
    /* GHIM VÀO MÀN HÌNH */
    position: fixed; 
    bottom: 30px; /* Cách mép dưới màn hình 30px */
    left: 50%;
    transform: translateX(-50%); /* Căn giữa màn hình */
    z-index: 2000; /* Đảm bảo nó luôn nằm trên cùng */
    
    background: var(--glass-bg);
    backdrop-filter: blur(15px);
    border: 1px solid var(--glass-border);
    border-radius: 50px;
    box-shadow: var(--shadow);
    transition: 0.3s;
}
.reader-nav-wrapper:hover {
    opacity: 1;
}
.nav-btn {
    background: transparent;
    border: none;
    color: var(--text-color);
    font-size: 20px;
    cursor: pointer;
    padding: 10px 20px;
    transition: 0.3s;
}

.nav-btn:hover {
    color: var(--accent-color);
}